doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
  body
    #root
      h1 Items
      ul
        each item in data.items
          li= item.name
      #ingredients
    script(src='index.js', defer='true')
    script(
      src='https://unpkg.com/react@18/umd/react.production.min.js',
      crossorigin=''
    )
    script(
      src='https://unpkg.com/react-dom@18/umd/react-dom.production.min.js',
      crossorigin=''
    )
